

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Verdana, Arial, san-serif;
    font-size: 11px;
    color: #ffffff;
    background: #4b4743;
}

a:link, a:visited {
    color: #e6e154;
    text-decoration: none;
    font-weight: bold;
}

a:active, a:hover {
    color: #e6e154;
    text-decoration: underline;
}

p {
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
    padding: 0px;
    border: none;
}


.cleaner {
    clear: both;
    width: 100%;
    height: 1px;
    font-size: 1px;
}

.cleaner_with_height {
    clear: both;
    width: 100%;
    height: 30px;
    font-size: 1px;
}

.cleaner_with_width {
    float: left;
    width: 20px;
    height: 30px;
    font-size: 1px;
}

.buy_now_button a {
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    margin-bottom: 10px;
    background: url(images/templatemo_btn_02.jpg) no-repeat;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.detail_button a {
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    margin-bottom: 10px;
    background: url(images/templatemo_btn_01.jpg) no-repeat;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#templatemo_container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: #1c1c1b url(images/templatemo_bg.jpg) repeat-y;
}


/* menu */

#templatemo_menu {
    clear: both;
    width: 960px;
    height: 45px;
    background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

    #templatemo_menu ul {
        padding: 13px 0 0 0;
        margin: 0;
        list-style: none;
    }

        #templatemo_menu ul li {
            display: inline;
        }

            #templatemo_menu ul li a {
                float: left;
                padding: 0 20px;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                color: #969547;
            }

    #templatemo_menu li a:hover, #templatemo_menu li .current {
        color: #fcf88e;
    }

/* end of menu*/

/* header */
#templatemo_header {
    clear: both;
    width: 960px;
    height: 285px;
    padding: 0;
    margin: 0;
    background: url(images/templatemo_header_bg.jpg) no-repeat;
}

    #templatemo_header a, a:hover {
        color: #ffffff;
    }

    #templatemo_header #templatemo_special_offers {
        float: left;
        font-size: 14px;
        margin-top: 95px;
        margin-left: 490px;
        width: 180px;
    }

#templatemo_special_offers a {
    font-size: 12px;
}

#templatemo_special_offers p {
    margin: 0 0 20px 0;
}

    #templatemo_special_offers p span {
        font-size: 18px;
    }

#templatemo_header #templatemo_new_books {
    float: left;
    margin-top: 90px;
    margin-left: 55px;
    width: 180px;
}

#templatemo_new_books ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#templatemo_new_books li {
    margin: 0;
    padding: 0;
}


/* end of header */


/* content */
#templatemo_content {
    clear: both;
    width: 920px;
    padding: 0 20px;
}

    #templatemo_content #templatemo_content_left {
        float: left;
        width: 188px;
        padding: 10px;
        background-color: #171716;
        border: 1px solid #212120;
    }

    #templatemo_content #templatemo_content_right {
        float: right;
        width: 670px;
    }


#templatemo_content_left .templatemo_content_left_section {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b2b2a;
    margin-bottom: 20px;
}

.templatemo_content_left_section h1 {
    font-size: 14px;
    color: #cbc750;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
    padding: 0;
    margin: 0;
}

    .templatemo_content_left_section ul li {
        padding: 0 0 3px 10px;
        list-style: none;
    }

        .templatemo_content_left_section ul li a {
            font-weight: normal;
            text-decoration: none;
            color: #969547;
        }

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current {
    color: #fcf88e;
}





#templatemo_content_right .templatemo_product_box {
    float: left;
    width: 303px;
    height: 210px;
    padding: 10px;
    border: 1px solid #333;
}

#templatemo_content_right h1 {
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #cbc750;
    background: url(images/templatemo_h1_bg.jpg);
}

#templatemo_content_right h2 {
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
    font-size: 12px;
    color: #e6e154;
}

#templatemo_content_right h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #85391f;
}

#templatemo_content_right ul {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
    list-style: none;
}

#templatemo_content_right li {
    padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
    float: left;
    width: 100px;
    margin-right: 20px;
}

#templatemo_content_right p {
    text-align: justify;
    padding: 0 0 8px 0;
}

.templatemo_product_box h1 span {
    font-weight: normal;
}

.templatemo_product_box img {
    float: left;
    margin-right: 20px;
}

.templatemo_product_box .product_info {
    float: left;
    width: 180px;
}

.product_info p {
    margin-bottom: 15px;
}

/* end of content */

/* footer */
#templatemo_footer {
    clear: both;
    width: 960px;
    padding: 20px 0px 20px 0;
    text-align: center;
    border-top: 1px solid #25211e;
    color: #999;
    background-color: #111110;
}

    #templatemo_footer a {
        color: #fff;
        font-weight: normal;
    }
/* end of footer */
/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    transition: .5s;
}

    .btn.btn-primary {
        color: #FFFFFF;
    }

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

        .sidebar.open {
            margin-left: -250px;
        }

    .content {
        width: calc(100% - 250px);
    }

        .content.open {
            width: 100%;
            margin-left: 0;
        }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.open {
            margin-left: 0;
        }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

    .sidebar .navbar .navbar-nav .nav-link:hover,
    .sidebar .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
        background: #FFFFFF;
        border-color: var(--primary);
    }

    .sidebar .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 40px;
    }

    .sidebar .navbar .navbar-nav .nav-link:hover i,
    .sidebar .navbar .navbar-nav .nav-link.active i {
        background: var(--light);
    }

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

    .content .navbar .navbar-nav .nav-link:hover,
    .content .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .content .navbar .sidebar-toggler,
    .content .navbar .navbar-nav .nav-link i {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 40px;
    }

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

    .testimonial-carousel .owl-dot.active {
        background: var(--dark);
        border-color: var(--primary);
    }